
name: widget-server pipe

on: 
  push:
    branches: ["main"]

env:
  CONTAINER_REPOSITORY: 'post-degree/module-01/docker/widget-server'
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        id: configure-aws-credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Login to AWS ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Generate tag
        id: generate-tag
        # GITHUB_SHA -> environment variable default on github action to receive the hash commit who exec the action
        # | -> get the hash and pass to another function
        # head -c7 -> get the first 7 characters
        # SHA -> variable created to receive the value from "(echo $GITHUB_SHA | head -c7)" operation
        # GITHUB_OUTPUT -> variable to retrieve with step's output
        # echo -> create key value data
        # echo -> get the data from (sha=SHA) and send to GITHUB_OUTPUT
        run: |
          SHA=$(echo $GITHUB_SHA | head -c7)
          echo "sha=$SHA" >> $GITHUB_OUTPUT

      - name: Build and push the image to AWS ECR
        id: build-push-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ vars.ECR_REPOSITORY }}
          IMAGE_TAG: ${{ steps.generate-tag.outputs.sha }}
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG ./
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
